:root {
  --trans: 0.1s ease-in;
  --font-color-dark: white;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #3f3f3f;
  overflow: hidden;
  color: var(--font-color-dark);
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #3f3f3f;
  padding: 10px 20px;
}

.header-left {
  display: flex;
  gap: 10px;
}

.header-right {
  display: flex;
  gap: 10px;
}

.hamburger {
  background: none;
  background-image: url(../icons/dark-mode/menu.svg);
  background-position: center;
  cursor: pointer;
  height: 24px;
  width: 24px;
  border: none;
}

.home {
  background: none;
  background-image: url(../icons/dark-mode/home.svg);
  background-position: center;
  cursor: pointer;
  height: 24px;
  width: 24px;
  border: none;
}

.add {
  background: none;
  background-image: url(../icons/dark-mode/add.svg);
  background-position: center;
  cursor: pointer;
  height: 24px;
  width: 24px;
  border: none;
}

.main {
  display: flex;
  flex: 1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  background-color: #673ab7;
  padding: 0px 15px;
  transition: var(--trans);
  position: fixed;
}

.invisible {
  transform: translateX(-230px);
}

ul {
  list-style: none;
  padding: 0;
}

.sidebar-item {
  padding: 5px 0px;
  cursor: pointer;
}

.projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-buttons {
  display: none;
}

.add-project {
  background: none;
  background-image: url(../icons/dark-mode/add.svg);
  background-position: center;
  cursor: pointer;
  height: 16px;
  width: 16px;
  border: none;
}

.projects-toggle {
  background: none;
  background-image: url(../icons/dark-mode/arrow.svg);
  background-position: center;
  cursor: pointer;
  height: 16px;
  width: 16px;
  border: none;
}

.toggle {
  transform: rotate(90deg);
}

.sidebar:hover .project-buttons {
  display: flex;
  gap: 10px;
}

.tasks {
  flex: 1;
  background-color: #4f5051;
  padding: 30px 0px;
  transition: var(--trans);
  display: flex;
  flex-direction: column;
}

.stretch {
  margin-left: 230px;
}

.agenda-container {
  width: clamp(400px, 90%, 800px);
  align-self: center;
}

h1 {
  margin-top: 0;
  font-size: 24px;
}

.header-date {
  font-weight: normal;
  font-size: 16px;
}

button.agenda-add-task {
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
}

form.editor {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.save-bar {
  display: flex;
  justify-content: flex-end;
}